<main id="barba-wrapper">
    <div class="barba-container" data-namespace="grid">
		<a href="/2018/05/30/hello-world">This is the index.ejs file.</a>
		<a href="/2018/05/30/tempPost">This is aaaa index.ejs file.</a>
    </div>
</main>